<div class="absolute top-0  bottom-0 z-[-2] min-h-screen w-full bg-gray-50  dark:bg-gray-950
dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
</div>

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav
        class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
            href="#">Experiencia</a>
        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
            href="#">Proyectos</a>
        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500" href="#">Sobre
            mi</a>
        <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
            href="#">Contacto</a>
    </nav>
</header>

<main class="px-4">
    <section class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
        <div class="flex gap-4 mb-4">
            <img class="rounded-full shadow-lg size-16" src="perfil-test.jpg" alt="Fredy Hurtado">
            <a href="http://linkedin.com/in/fred-hurt" target="_blank" rel="noopener" class="flex items-center transition md:justify-center md:hover:scale-105">
                <div class="flex items-center ">
                    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
                        <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
                        <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
                            Disponible para trabajar
                        </div>
                    </span>
                </div>
            </a>
        </div>
        <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Hola, soy Fredy</h1>
        <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
            Tengo 1 año de experiencia.
            <strong>
                Egresado de Computacion e Informatica y actualmente estudiante de Ingenieria de Sistemas en la UPC
            </strong>
            de Lima, Peru. Especializado en el desarrollo de aplicaciones web backend como frontend en Java y Angular.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
            <a href="mailto:fredyhurtadofernandez@gmail.com" target="_blank" rel="noopener noreferrer" role="link" class="
            inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"></path>
            <path d="M3 6l9 6l9 -6"></path>
            <path d="M15 18h6"></path>
            <path d="M18 15l3 3l-3 3"></path>
            </svg>
            Contactame
            </a>
            <a href="http://linkedin.com/in/fred-hurt" target="_blank" rel="noopener noreferrer" role="link" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
              <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                <path d="M8 11l0 5"></path>
                <path d="M8 8l0 .01"></path>
                <path d="M12 16l0 -5"></path>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
              </svg>
              Linkedin
            </a>
        </nav>
    </section>
    <div class="space-y-24">
      <section id="experiencia" data-section="experiencia" class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">
          <svg class="size-8" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
            <path d="M12 12l0 .01"></path>
            <path d="M3 13a20 20 0 0 0 18 0"></path>
          </svg>
          Experiencia laboral
        </h2>
        <ol class="relative mt-16">
          <li class>
            <div class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
              <div class="relative pb-12 md:col-span-2">
                <div class="sticky top-0">
                  <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">•</span>
                  <h3 class="text-xl font-bold text-yellow-400">Soporte Tecnico</h3>
                  <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Battilana Nutricion</h4>
                  <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">Actualmente...</time>
                </div>
              </div>
              <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
                Hago soporte n1, n2 y n3 a usuarios finales. Desarrollo aplicaciones web tales como Matriz de Articulos SAP y Estados de Proveedores.
              </div>
            </div>
          </li>
          <li class>
            <div class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
              <div class="relative pb-12 md:col-span-2">
                <div class="sticky top-0">
                  <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">•</span>
                  <h3 class="text-xl font-bold text-yellow-400">Soporte Tecnico</h3>
                  <h4 class="font-semibold text-xl text-gray-600 dark:text-white">USMP - Medicina Humana</h4>
                  <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">Octubre 2023</time>
                </div>
              </div>
              <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
                Soporte n1,n2 y n3 a usuarios finales. Configuracion de impresoras personales y industriales. Virtualizador de materiales de las aulas virtuales
              </div>
            </div>
          </li>
        </ol>
      </section>
      <section id="proyectos" data-section="proyectos" class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">
          <svg class="size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 8l-4 4l4 4"></path>
            <path d="M17 8l4 4l-4 4"></path>
            <path d="M14 4l-4 16"></path>
          </svg>
          Proyectos
        </h2>
        <div class="flex flex-col gap-y-16">
          <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
            <div class="w-full md:w-1/2"></div>
            <div class="w-full md:w-1/2 md:max-w-lg"></div>
          </article>
          <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
            <div class="w-full md:w-1/2"></div>
            <div class="w-full md:w-1/2 md:max-w-lg"></div>
          </article>
        </div>
      </section>
    </div>
</main>
